# Node.js
backend/node_modules/
backend/.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

#frontend
frontend/node_modules/
frontend/.env

# Python
recApi/__pycache__/
recApi/venv/
recApi/env
recApi/dataset/
recApi/app/__pycache__/

# Logs
*.log
logs/
